<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="revolhope.splanes.com.aikver">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".framework.app.AikverApp"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".presentation.feature.menu.MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".presentation.feature.onboarding.OnBoardingActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.feature.menu.profile.avatar.UserAvatarActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.feature.menu.profile.managegroup.ManageGroupsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.feature.menu.common.content.SerieDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.feature.menu.common.content.SerieCustomInfoActivity"
            android:theme="@style/AppTheme.Translucent" />
    </application>

</manifest>