<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bemobile.splanes.com.aikver">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".framework.app.AikverApp"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".presentation.splash.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.register.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".presentation.dashboard.DashboardActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".presentation.addserie.AddSerieActivity"
            android:label="@string/add_activity_title"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".presentation.searchserie.SearchResultsActivity"
            android:label="@string/filter_activity_title"
            android:theme="@style/AppTheme"/>

    </application>
</manifest>
