<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="revolhope.splanes.com.aikver">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="revolhope.splanes.com.aikver.framework.app.AikverApp"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="revolhope.splanes.com.aikver.presentation.feature.menu.MenuActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustNothing"
            android:label="@string/title_activity_menu" />

        <activity
            android:name="revolhope.splanes.com.aikver.presentation.feature.onboarding.OnBoardingActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="revolhope.splanes.com.aikver.presentation.feature.menu.profile.avatar.UserAvatarActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name="revolhope.splanes.com.aikver.presentation.feature.menu.profile.managegroup.ManageGroupsActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".presentation.feature.menu.common.content.ContentDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>